version: '3'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: davidBD
      POSTGRES_USER: david
      POSTGRES_PASSWORD: david
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always

  web:
    image: davidjaen10/gym_trainifly:latest
    command: sh /code/scripts_docker/prod/run_web.sh
    environment:
      - ENVIRONMENT=production
      - STATIC=yes
      - DB_NAME=davidBD
      - DB_USER=david
      - DB_PASSWORD=david
      - DB_HOST=db
      - DB_PORT=5432
    secrets:
      - SECRET_KEY
    volumes:
      - static_volume:/code/staticfiles
    depends_on:
      - db
    restart: always

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_volume:/code/staticfiles
      - ./nginx/prod/default.conf:/etc/nginx/conf.d/default.conf
      - certbot_www:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt:ro

    depends_on:
      - web
    restart: always

volumes:
  static_volume:
  postgres_data:
  certbot_www:

secrets:
  SECRET_KEY:
    file: ./secrets/SECRET_KEY.txt
