version: '3'

services:
  web:
    image: davidjaen10/gym_trainifly:latest
    command: sh /code/scripts_docker/prod/run_web.sh
    environment:
      - ENVIRONMENT=production
      - STATIC=yes
    secrets:
      - SECRET_KEY
    volumes:
      - static_volume:/code/staticfiles

  nginx:
    image: nginx:alpine
    ports:
      - "443:443"
    volumes:
      # - ./templates/portfolio:/usr/share/nginx/html
      - static_volume:/code/staticfiles
      - ./nginx/prod/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs

volumes:
  static_volume:

secrets:
  SECRET_KEY:
    file: ./secrets/SECRET_KEY.txt
