version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: davidBD
      POSTGRES_USER: david
      POSTGRES_PASSWORD: david
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    deploy:
      restart_policy:
        condition: any

  web:
    image: davidjaen10/gym_trainifly:latest
    command: sh /code/scripts_docker/prod/run_web.sh
    ports:
      - target: 8000
        published: 81
        protocol: tcp
        mode: host
    environment:
      ENVIRONMENT: production
      STATIC: "yes"
      DB_NAME: davidBD
      DB_USER: david
      DB_PASSWORD: david
      DB_HOST: db
      DB_PORT: 5432
    secrets:
      - SECRET_KEY
    volumes:
      - static_volume:/code/staticfiles
    deploy:
      restart_policy:
        condition: any

  nginx:
    image: nginx:alpine
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    volumes:
      - static_volume:/code/staticfiles
      - certbot_www:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt:ro
    configs:
      - source: nginx_default_conf
        target: /etc/nginx/conf.d/default.conf
    deploy:
      restart_policy:
        condition: any

volumes:
  static_volume:
  postgres_data:
  certbot_www:

secrets:
  SECRET_KEY:
    external: true

configs:
  nginx_default_conf:
    external: true
