version: '3.8'

services:
  web:
    ports:
      - "81:8000"
    volumes:
      - ./:/code
    depends_on:
      - db
    environment:
      - DB_NAME=davidBD
      - DB_USER=david
      - DB_PASSWORD=david
      - DB_HOST=db
      - DB_PORT=5432

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/dev/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: davidBD
      POSTGRES_USER: david
      POSTGRES_PASSWORD: david
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
