<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrainiFly - Gimnasio</title>

    {% load static %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    {% include "portfolio/header.html" %}

    <main class="main-content">
        {% block content %}
        {% endblock content %}
    </main>

    {% block footer %}
        {% include "portfolio/footer.html" %}
    {% endblock %}


</body>

</html>
