<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrainiFly - Gimnasio</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="contenedor">
        {% block header %}
        {% include "portfolio/header.html" %}
        {% endblock header %}   
    </div>


    <div class='contenedor'>
        {% block content %}
        {% endblock content %}
    </div>

    <div>
        {% block footer %}
        {% include "portfolio/footer.html" %}
        {% endblock footer %}
    </div>

</body>
</html>
