{% extends 'portfolio/base.html' %}
{% load socialaccount %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>Login / Sign Up - TrainiFly</title>
</head>
<body>
  <header class="public-header">
    <div class="container-header">
      <div class="brand">
        <img src="img/logo.png" alt="TrainiFly" class="logo">
      </div>
      <nav class="nav-header">
        <a href="inicio_user.html" class="nav-link">Inicio</a>
      </nav>
    </div>
  </header>
  <div class="wrapper login">
    <div class="container">
      <div class="col-left">
        <div class="login-text">
          <h2>Bienvenido!</h2>
          <a href="form.html" class="btn">Crear Cuenta</a>
          <a href="{% provider_login_url 'google' %}" class="google-btn">
            <i class="fab fa-google"></i>
          </a>
        </div>
      </div>
      <div class="col-right">
        <div class="login-form">
          <h2>Login</h2>
          <form action="">
            <p> <label>Email<span>*</span></label> <input type="email" placeholder="Introduce tu Email" required> </p>
            <p> <label>Contraseña<span>*</span></label> <input type="password" placeholder="Introduce tu contraseña" required> </p>
            <p> <input type="submit" value="Iniciar Sesion"> </p>
            <p> <a href="">Has olvidado tu contraseña?</a> </p>
          </form>
        </div>
      </div>
    </div>
  </div>

<footer class="public-footer">
  <p>TrainiFly © 2025</p>
</footer>

</body>
</html>
{% endblock %}
