{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Login / Sign Up - TrainiFly</title>

</head>
<body>
  <header class="public-header">
    <div class="container-header">
      <nav class="nav-header">
        <a href="{% url 'home' %}"" class="nav-link">Inicio</a>
      </nav>
    </div>
  </header>
  <div class="wrapper login">
  <div class="container">
    
    <div class="col-left">
      <div class="login-text">
        <h2>Bienvenido!</h2>

        <a href="{% url 'create_user' %}" class="btn">Crear Cuenta</a>

        <a href="{% provider_login_url 'google' %}" class="google-btn">
          <i class="fab fa-google"></i>
        </a>
      </div>
    </div>

    <div class="col-right">
      <div class="login-form">

        <form method="POST">
          {% csrf_token %}

          <h1>Inicia Sesion</h1>

          <div class="social-icons">
            <a href="{% provider_login_url 'google' %}" class="icon">
              <i class="fa-brands fa-google"></i>
            </a>
          </div>

          <span>o usa tu email y contraseña</span>

          {% if form.non_field_errors %}
              <div style="color: #ff6b6b; margin: 10px 0;">
                  {% for error in form.non_field_errors %}
                      <p>{{ error }}</p>
                  {% endfor %}
              </div>
          {% endif %}

          {{ form.email }}
          {% if form.email.errors %}
              <div style="color: #ff6b6b; font-size: 12px;">
                {{ form.email.errors }}
              </div>
          {% endif %}

          {{ form.password }}
          {% if form.password.errors %}
              <div style="color: #ff6b6b; font-size: 12px;">
                {{ form.password.errors }}
              </div>
          {% endif %}

          <a href="{% url 'account_reset_password' %}">¿Has olvidado tu contraseña?</a><br>
          <button type="submit">Iniciar Sesion</button>
        </form>

      </div>
    </div>
  </div>
</div>

</body>
</html>
