<h2>Listado de Clases</h2>

<form method="get">
    <select name="dia">
        <option value="" {% if dia == '' %}selected{% endif %}>Todos</option>
        <option value="L" {% if dia == 'L' %}selected{% endif %}>Lunes</option>
        <option value="M" {% if dia == 'M' %}selected{% endif %}>Martes</option>
        <option value="X" {% if dia == 'X' %}selected{% endif %}>Miércoles</option>
        <option value="J" {% if dia == 'J' %}selected{% endif %}>Jueves</option>
        <option value="V" {% if dia == 'V' %}selected{% endif %}>Viernes</option>
        <option value="S" {% if dia == 'S' %}selected{% endif %}>Sábado</option>
        <option value="D" {% if dia == 'D' %}selected{% endif %}>Domingo</option>
    </select>
    <button type="submit">Buscar</button>
</form>


<div id="clases-list">

    {% if page_obj.object_list %}
        {% for horario in page_obj %}
            <div class="clase-item"
                 data-nombre="{{ horario.tipo_clase.nombre }}"
                 data-descripcion="{{ horario.tipo_clase.descripcion }}"
                 data-dia="{{ horario.get_dia_display }}"
                 data-hora="{{ horario.hora|time:'H:i' }}"
                 data-capacidad="{{ horario.capacidad_max }}">

                <p>{{ horario.tipo_clase.nombre }}</p>
                <p>{{ horario.get_dia_display }} - {{ horario.hora|time:"H:i" }}</p>

            </div>
        {% endfor %}
    {% else %}
        <p>No hay clases disponibles para este día.</p>
    {% endif %}

</div>

<input type="text" id="filtroCliente" placeholder="Filtrar clases…" style="margin-top:15px;">



{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination" style="margin-top: 20px;">
    
    {% if page_obj.has_previous %}
        <a href="?dia={{ dia }}&page=1">&laquo; Primero</a>
        <a href="?dia={{ dia }}&page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?dia={{ dia }}&page={{ page_obj.next_page_number }}">Siguiente</a>
        <a href="?dia={{ dia }}&page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
    {% endif %}

</div>
{% endif %}
<script src="{% static 'js/clases.js' %}"></script>

