{% load static %}
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">

<h2>Mis clases reservadas</h2>
<div class="volver-container">
    <a href="{% url 'inicio' %}" class="volver-btn">
        ← Volver al panel
    </a>
</div>

{% if reservas %}

    {% for reserva in reservas %}
        <div class="reserva">
            <h3>{{ reserva.evento.title }}</h3>

            <p>
                {{ reserva.evento.start|date:"d/m/Y" }}
            </p>

            <p>
                {{ reserva.evento.start|time:"H:i" }}
            </p>
            <p>
                <a href="{% url 'cancelar_reserva' reserva.id %}">Cancelar reserva
    </a>
</p>
        </div>

        <hr>
    {% endfor %}

{% else %}

    <p>No tienes clases reservadas.</p>

{% endif %}